@font-face {
    font-family: iran-sans;
    src: url(font/IRANSansXFaNum-Regular.woff);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'iran-sans';
}
body{
    direction: rtl;
    background-color: rgb(48, 45, 47);
    scroll-behavior: smooth;
}
header{
    padding: 20px 30px;
    height: 800px;
    position: relative;
    overflow: hidden;
}
