@font-face {
    font-family: iran-sans;
    src: url(font/IRANSansXFaNum-Regular.woff);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'iran-sans';
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    color: red;
}